{% extends "layout.html" %}
{% set bodyId = "page-home" %}


    {% block title %}
        <title>Ecoleta - RocketSeat</title>
    {% endblock title %}

 

    

    {% block styles %}
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/style-modal.css">

    {% endblock styles %}



<
    
    {% block contentPage  %}
    <div class="content">
            <header>
                <img src="/extras-aula-1/icones/logo.svg">

                <a href="/create-point "><span></span>Cadastre um ponto de coleta</a>

            </header>

            <main>
                <h1>Seu marketplace de coleta de resíduos</h1>

                <p>Ajudamos pessoas a encontrarem pontos de cole de forma eficiente</p>

                <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong></a>

            </main>
    </div>
         
    {% endblock contentPage %}
        

     {% block modal %}

     {% include "partials/modal.html" %}

    {% endblock modal %}

     {% block scripts %}
     <script src="/scripts/index.js"></script>
    {% endblock scripts %}

   



    




