<!DOCTYPE html>
<html lang="pt_br">

<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    {% block title %}
        <title>Coleta</title>
    {% endblock title %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
    <!-- index-->
    <link rel="stylesheet" href="/styles/styles-index.css">
    {% block styles %}
        
    

        
    {% endblock styles %}

    <!-- Media query -->
        <link rel="stylesheet" href="/styles/media-query-index.css">
    
</head>

<body>
    <div id="{{ bodyId }}">
        {% block contentPage %}
        {% endblock contentPage %}

    </div>
    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}
   

</body>


</html>